#background {
	x:10;
	y:10;
	shape:"rectangle";
	width:780;
	height:93;
	alpha:1;
	color:0xb5780e;
}

#caption {
	x:30;
	y:15;
	textSize:17;
	color:0xFFFFFF;
	multiline:true;
	wordWrap:true;
	width:760;
	height:500;
	leading:5;
	letterSpacing:1.3;
}

#image {
	x:10;
	y:108;
}
